@page
@model BookstoreManagementSystem.Pages.Products.IndexModel
@{
    ViewData["Title"] = "Products";
}

<h1>Productos</h1>

<div class="mb-3">
    <a asp-page="Create" class="btn btn-primary">Añadir Producto</a>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Categoria</th>
            <th>Precio</th>
            <th>Inventario</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@product.CategoryName</td>
                <td>@product.Price.ToString("C")</td>
                <td>@product.Stock</td>
                <td>
                    <form method="post" asp-page-handler="Edit" asp-antiforgery="true" class="d-inline">
                        <input type="hidden" name="id" value="@product.Id" />
                        <button type="submit" class="btn btn-warning btn-sm">Editar</button>
                    </form>
                    <a type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteProductModal" data-product-id="@product.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (!Model.Products.Any())
{
    <div class="alert alert-info">
        No tienes productos registrados.
    </div>
}


<div class="modal fade" id="confirmDeleteProductModal" tabindex="-1" aria-labelledby="confirmDeleteProductLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-page-handler="Delete">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title" id="confirmDeleteProductLabel">Confirmar eliminacion?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    Estas seguro de que deseas eliminar este producto?
                    <input type="hidden" id="deleteProductId" name="id" />
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Si, eliminar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    const productModal = document.getElementById('confirmDeleteProductModal');
    productModal.addEventListener('show.bs.modal', function (event) {
      const button = event.relatedTarget;
      const productId = button.getAttribute('data-product-id');
      document.getElementById('deleteProductId').value = productId;
    });
</script>